{{#each this}}
<div class="flag">
    <img src="{{flag}}" alt="{{name}} flag" width="300px" />
</div>
<div class="country-description-container">
    <h2 class="country-name">{{name}}</h2>
    <ul>
        <li>
            <p class="bold-description">Capital:</p>
            <span class="description">{{capital}}</span>
        </li>
        <li>
            <p class="bold-description">Population:</p>
            <span class="description">{{population}}</span>
        </li>
        <li>
            <ul>
                <li class="bold-description"></li>
                Languages:
                {{#each languages}}
                <li class="lang">{{name}}</li>
                {{/each}}
            </ul>
        </li>
        <li>
            <p class="bold-description">Currencies:</p>
            {{#each currencies}}
            <span class="description">{{name}}</span>
            <span class="description">{{symbol}}</span>
            {{/each}}
        </li>
    </ul>
</div>
{{/each}}